@media screen and (max-width:500px)
{
    body 
    {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    .nav-menu
    {
        position: relative;
        padding: 20px 0px 0px 30px;
    }
    #bar-1, #bar-2
    {
        background-color:black;
        height: 5px;
        width: 25px;
        border-radius: 5px;
        margin-top: 5px;
        position: relative;
        transition: 0.3s ease;

    }

    ul 
    {
        margin: 0px;
        padding: 0px;
    }

    .nav-wrapper li 
    {
        list-style: none;
        padding: 45px 0px 0px 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .nav-wrapper
    {
        display: none;
        transition: 1s ease;
    }

    .nav-wrapper a 
    {
        text-decoration: none;
        font-size: 25px;
        color: whitesmoke;
        position: relative;
        top: 145px;
    }

    .nav-section
    {
        z-index: -1;
    }
     
    .nav-menu
    {
        z-index: 100;
    }

    .icon #bar-1
    {
        transform: translateY(4px) rotate(-45deg);
        background-color: whitesmoke;

        
    }
    .icon #bar-2
    {
        transform: translateY(-6px) rotate(45deg);
        background-color: whitesmoke;
    }



    .change
    {
        background-color: black;
        height: 1000px;
        position: relative;
        z-index: -100;
        display: flex;
        flex-direction: column;
        bottom: 100px;

    }
    
}