.site-header{
    background-color: #f1f1f1;
}
.site-header .wrapper{
    align-items: center;
    height: 60px;
}
.site-header .site-navigation{
    flex:  0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
}
.site-header .site-feature{
    flex: 0 0 300px;
    max-width: 300px;
}
.desktop .primary-menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

}

.desktop .primary-menu a{
    color: #010101;
    text-decoration: none;
    padding: 0 15px;
}

.desktop  .primary-menu a:hover{
    color: red;
} 
.site-header .site-feature ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
} 
.site-header .site-feature li{
    padding: 0 10px;
}
.site-header .site-feature img{
    height: 15px;
}














