body
{
	color: #7C7C7C;
	margin: 0px;
	padding: 0px;
} 
 
 
 .adv-slider .theme-img
{
	height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.reservation-text p, .type-of-vacation p, .highlight-sections p, .highlight-text .heading
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #18cded;
	font-weight: 700;
	font-size: 20px;
	
}

.reservation-text p, .type-of-vacation p, .highlight-text-main
{
	text-decoration:underline;
}

.reservation-div-container .vacation
{
	height: 60px;
	width: 60px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-size: cover;

}

.reservation-center .reservation-div-container
{
	display: grid;
	grid-template-rows: 500px;
	grid-template-columns: 100px 100px 100px 100px 100px;
	max-height: 100px;
	justify-content: center;
}

.reservation-div-container .reservation-img 
{
	max-height: 60px;
	max-width: 60px;
}

.choose-box-container
{
	display: grid;
	grid-template-rows:100px 100px ;
	grid-template-columns: 100px 100px ;
	max-width: 100%;
	justify-content: center;
}

.choose-box .choose-submit-btn 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.choose-submit-btn .btn 
{
	padding: 15px;
	border: none;
	border-radius: 15px;
	background-color: #f5e50a;
	letter-spacing: 2px;
}

.highlights .highlights-container
{
	display: grid;
	grid-template-rows: 500px 500px;
	grid-template-columns: 600px 600px;
	justify-content: center;
	
}

.highlight-img
{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.highlight-text .info-text
{
	color: black;
	font-weight: 200;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 15px 25px;
	
}

.highlight-text .heading 
{
	color: #18cded;
	text-decoration: underline;
	font-weight: 700;
	font-size: 20px;
}